.btn-primary {
  background-color: #ec0b29;
  border-color: #ec0b29;
}

.btn-primary:hover {
  background-color: rgba(236, 11, 41, 0.8);
  border-color: rgba(236, 11, 41, 0.8);
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 11, 41, 0.8);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 11, 41, 0.8);
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: rgba(236, 11, 41, 0.8);
  border-color: rgba(236, 11, 41, 0.8);
}

.btn-disabled {
  background-color: #777;
  border-color: #777;
  pointer-events: none;
}

.text-primary {
  color: #ec0b29 !important;
}

.nav-link.active {
  color: #ec0b29;
}

a:hover {
  color: #777;
}

a:focus {
  color: #777;
}

.social-link:hover,
.social-link:focus {
  background: #ec0b29;
  border-color: #ec0b29;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background: #ec0b29;
}

.testimonial-img::after {
  background: #ec0b29;
}

.scropll-top-btn {
  background: #ec0b29;
}

.scropll-top-btn:hover,
.scropll-top-btn:focus {
  background: #ec0b29;
}

.footer-link:hover,
.footer-link:focus {
  color: #777;
  text-decoration: underline;
}
